[Unit]
Description=EdgeRun development agent
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=%h/.config/edgerun-agent/edgerun-agent.env
WorkingDirectory=/home/ken/edgerun-c/edgerun-metal
ExecStart=/home/ken/edgerun-c/edgerun-metal/tools/edgerun-agent/edgerun-agent.sh

[Install]
WantedBy=default.target
