[Unit]
Description=EdgeRun development agent
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/edgerun-agent.env
WorkingDirectory=/opt/edgerun-metal
ExecStart=/opt/edgerun-metal/tools/edgerun-agent/edgerun-agent.sh

[Install]
WantedBy=multi-user.target
