EDGERUN_NETBOOT_IFACE=enpXsY
EDGERUN_NETBOOT_EFI=/opt/edgerun-metal/build/esp/EFI/BOOT/BOOTX64.EFI
EDGERUN_NETBOOT_MODE=auto
EDGERUN_NETBOOT_HTTP_PORT=8081
EDGERUN_NETBOOT_MGMT_DHCP=0
EDGERUN_NETBOOT_MGMT_MAC=
EDGERUN_NETBOOT_MGMT_IP=10.42.0.10
EDGERUN_NETBOOT_ALLOW_MAC=
EDGERUN_NETBOOT_CLIENT_IP=10.42.0.2
EDGERUN_NETBOOT_FORCE_HTTP_FOR_PXE=0
